/* Credit to bootsnipp.com for the css for the color graph */
body{
    background: #f3f3f3;
    font-family: 'Lato','Open Sans', sans-serif ;
}
.login-message{
    color: white;
    background-color: #ff0039;
    border-color: #ff0039;
}
.inventory-title{
    margin-bottom: 85px;
}
.tt-modal {
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 2px #ddd;
    background: #fff;
}
.login-form{
    margin-top: 150px;
}