<tr>
  <td class="col-md-5">
    <%= f.collection_select :item_id, @item, :id, :name, {prompt: "Select Item"}, {class: "select-item form-control"} %>
  </td>
  <td class="col-md-2">
    <%=  f.text_field :quantity, :class=>"form-control quantity"%>
  </td>
  <td class="col-md-2">
    <%=  f.text_field :unit_price, :class=>"form-control unit-price"%>
  </td>
  <td class="col-md-2">
    <input type="text" class="form-control total" value="0" disabled>
  </td>
  <td class="col-md-1">
    <a class="remove_fields " href="#"  data-toggle="toggle" title="Remove"><i class="fa fa-remove text-danger"></i></a>
  </td>
</tr>