<div class="container-fluid">
  <div class="page-header">
    <h3><%= controller.controller_name.to_str.capitalize %> </h3>
  </div>
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
</div>