<% if controller.controller_name.to_s.titleize != "Admin" %>
    <div class="container-fluid">
      <div class="page-header">
        <h3>
          <%= controller.controller_name.to_s.titleize %> <small> | <%=  @title %></small></h4>
        </h3>

      </div>
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
<% end %>