<% @data = controller.controller_name.to_s.titleize %>
<% if controller.controller_name.to_s.titleize != "Admin" %>
       <%
         case controller.controller_name.to_s.titleize
            when "Sale Items"
              @data = "Sale"
            when "Vendors"
              @data = "Suppliers"
            when "Pdfs"
              @data = "Report"
          end
       %>

    <div class="container-fluid hide-pdf">
      <div class="page-header">
        <h3>
          <%= @data %> <small> | <%=  @title %></small></h4>
        </h3>

      </div>
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
    </div>
<% end %>