<div class="row">
  <div class="col-md-6 col-xs-6 ">
    <p>Built with
      <i class="fa fa-heart fa-fw">&nbsp;</i>
      in Biratnagar
    </p>
  </div>
  <div class="col-md-6 col-xs-6">
    <p class="pull-right">&copy; 2017  <a href="http://zeftware.com">Zeftware Solutions</a></p>
  </div>
</div>