<div class="row">
  <div class="col-md-6">
    <table class="table table-profile">
      <tbody>
      <tr>
        <th class="col-xs-4 text-success ">
          Name:
        </th>
        <td class="text-doc">
          <%= @customer.customer_name %>
        </td>
      </tr>
      <tr>
        <th class="col-xs-4 text-success">
          Address:
        </th>
        <td class="text-doc">
          <%= @customer.address%>
        </td>
      </tr>
      <tr>
        <th class="col-xs-4 text-success">
          Phone Number:
        </th>
        <td class="text-doc">
          <%= @customer.phone_number %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>