<div class="row">
  <div class="col-md-6">
    <table class="table table-profile">
      <tbody>
      <tr>
        <th class="col-xs-4 text-success ">
          Name:
        </th>
        <td class="text-doc">
          <%= @vendor.name %>
        </td>
      </tr>
      <tr>
        <th class="col-xs-4 text-success">
          Address:
        </th>
        <td class="text-doc">
          <%= @vendor.address%>
        </td>
      </tr>
      <tr>
        <th class="col-xs-4 text-success">
          Phone Number:
        </th>
        <td class="text-doc">
          <%= @vendor.phone_no %>
        </td>
      </tr>
      <tr>
        <th class="col-xs-4 text-success">
          Email:
        </th>
        <td class="text-doc">
          <%= @vendor.email %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>