.form-horizontal .control-label {
    text-align: left;
}

@media (min-width: 992px) {
    .navbar-nav {
        font-size: 16px;
    }

    .dropdown-menu > li > a {
        font-size: 15px;
    }

    .dropdown-menu > li > a > .fa {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
        padding-top: 19px;
    }

    .navbar-default .navbar-brand {
        color: #777;
        font-size: 25px;
        font-weight: bold;
    }}

.alert-error {
    background-color: #ee0007;
    border-color: #ee0007;
    color: #fff0f9;
    text-align: left;
}

.fa-trash-color {
    color: red;
}

.fa-heart {
    color: red;
}

/* Credit to bootsnipp.com for the css for the color graph */
/*For Login page*/

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
}

.login-message {
    color: white;
    background-color: #ff0039;
    border-color: #ff0039;
}

.inventory-title {
    margin-bottom: 85px;
}

.login-form {
    margin-top: 80px;
}

/*ends here*/

/*for navigation bar*/

.navbar .navbar-space a{
    font-size: 17px;
}
/*ende here*/

/*For company profile */
.table {
    border-bottom: 0px !important;
}

.table th, .table td {
    border: 1px !important;
}

.fixed-table-container {
    border: 0px !important;
}

table>tbody>tr>.text-doc,table>tbody>tr>.text-doc>a{
    color: #812c28;
    font-weight: bold;
}

table>tbody>tr>.text-doc>a:hover{
    text-decoration: none;
    color: #1000ee;
}

/*!*ends here*!*/

/*for breadcrumbs*/
.breadcrumb{
    background-color: transparent;
}
.page-header {
    margin: 20px 0 20px;
}

/*ends here*/

/*auto complete*/
/*ends here*/

/*Making dashboard icon to center*/
.dashboard .panel .fa, .setting .panel .fa{
    font-size: 65px;
    color: #5cb85c;
}

.dashboard .btn, .setting .btn{
    font-size: 17px;
    font-weight: 600;
}

.dashboard .panel h3, .setting .panel h3{
    font-weight: bold;
}

.dashboard .panel p, .setting .panel p{
    font-size: large;
}

.dashboard .back-ground, .setting .back-ground{
    background-color: rgba(255, 255, 255, 0.78);
}
.dashboard .panel hr, .setting .panel hr{
    align-items: center;
    max-width: 166px;
    border-width: 3px;
    border-color: #7e7e7e;
}

.dashboard .panel th, .setting .panel th{
    font-size: 16px;
    font-weight: Bold;
    color: #337ab7;
}

.dashboard .panel, .setting .panel{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.73);
    margin-bottom: 50px;
}

.dashboard .panel-primary, .setting .panel-primary{
    border-color: rgb(255, 255, 255);
}

.dashboard .panel .show-stock a, .setting .panel .show-stock a{
    text-decoration: none;
}

.dashboard .panel .show-stock a:hover, .setting .panel .show-stock a:hover{
    color: green;
}

/*ends here*/

/*for purchase index*/

.purchase a:hover{
    text-decoration: none;
    color: black;
}

/*ends here*/


/*For to top function*/

.scrollToTop{
    text-align:center;
    background: transparent;
    font-weight: bold;
    color: rgba(16, 34, 237, 0.46);
    text-decoration: none;
    position:fixed;
    top:480px;
    right:40px;
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
    color: rgba(43, 208, 4, 0.26);
}
.section-two .fa {
    font-size: 65px;
}
.section-two .benefit-icon {
    padding-top: 20px;
    font-size: 23px;
}

.multiform .fa-remove{
    font-size: 30px;
}

.multiform  a:hover{
    text-decoration: none;
}

.multiform p{
    font-size: 18px;
    font-weight: 400;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
/*ends here*/

/*for indexing*/
.table>tbody>tr>td, .table>tbody>tr>th{
    font-size: 15px;
}
.table>thead>tr>td, .table>thead>tr>th {
    font-size: 16px;
}
.table .fa{
    font-size: 20px;
}
/*ends here*/

/*for sale and purchase index*/

.purchase .table tr a, .sale .table tr a {
    color: black;
}

.purchase .table tr a:hover, .sale .table tr a:hover {
    color: #337ab7;
text-decoration: none;
}
/*ends here*/

/*for pdf*/
    @media print{
        body {
            background: transparent;
        }

        #contianer{
            width: auto;
            margin: 0;
            padding: 0;
            border: none;
        }

        .hide-pdf{
            display: none;
        }
    }
/**/